@{
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
    ApplicationUser user = (ApplicationUser)ViewData["User"];

    PaginatedList<Recipe> paginatedList = (PaginatedList<Recipe>)ViewData["paginatedList"];
    var prevDisabled = !paginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !paginatedList.HasNextPage ? "disabled" : "";
}

<div class="display-flex-end">
    <a asp-controller="Recipes" asp-action="Create" asp-route-gobackurl="UserProfile/@user.Id">Create new recipe</a>
</div>

<div class="element-container my-3">
    @foreach (var recipe in paginatedList)
    {
    <div>
        <div class="element-item">
            <a asp-controller="Recipes" asp-action="Details" asp-route-gobackurl="UserProfile/@user.Id" asp-route-id="@recipe.RecipeId">
                <img class="element-photo" src="@recipe.MainMediaUrl" alt="recipe main photo" />
                <div class="top-left">@recipe.Title</div>
                <div class="middle">@recipe.Description</div>
                <div class="bottom-left">
                    @for (int i = 0; i < 3 && i < recipe.RecipeTags.Count(); i++)
                    {
                        <span>#</span>@recipe.RecipeTags[i].Tag.TagName<span> </span>
                    }
                </div>
            </a>
        </div>
        <div class="element-options">
            <div>
                <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@recipe.RecipeId" asp-route-gobackurl="UserProfile/@user.Id">
                    Edit
                </a>
            </div>
            <div>
                <a asp-controller="Recipes" asp-action="Delete" asp-route-id="@recipe.RecipeId" asp-route-gobackurl="UserProfile/@user.Id">
                    Delete
                </a>
            </div>
        </div>
    </div>
    }
</div>

<div>
    <a asp-controller="UserProfile"
       asp-action="Index"
       asp-route-pageNumber="@(paginatedList.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>

    <a asp-controller="UserProfile"
       asp-action="Index"
       asp-route-pageNumber="@(paginatedList.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
