@{
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
    ApplicationUser user = (ApplicationUser)ViewData["User"];

    PaginatedList<UsersGroup> paginatedList = (PaginatedList<UsersGroup>)ViewData["paginatedList"];
    var prevDisabled = !paginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !paginatedList.HasNextPage ? "disabled" : "";
}

<div class="menu-options">
    <div>
        <form id="search-form" asp-controller="UserProfile" asp-action="MyGroups" method="get">
            <div class="form-group form-inline">
                <input class="form-control" type="text" placeholder="Search My Group.." name="search" value="@ViewData["search"]">
                <button type="submit" class="btn ml-1"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>

    <div>
        <a asp-controller="Groups" asp-action="Create" asp-route-gobackurl="UserProfile/@user.Id">Create New Group</a>
    </div>
</div>

<div class="element-container my-3">
    @foreach (var usersGroup in paginatedList)
    {
        <div class="my-2 py-0 mx-2 px-0">
            <div class="element-item featured-background">
                <a asp-controller="Groups" asp-action="Details" asp-route-gobackurl="UserProfile/@user.Id" asp-route-id="@usersGroup.GroupId">
                    <img class="element-photo" src="@usersGroup.Group.GroupPhoto" alt="recipe main photo" />
                    <div class="top-left">@usersGroup.Group.GroupName</div>
                    <div class="middle">
                        <div class="clamp-me">
                            @usersGroup.Group.Description
                        </div>
                    </div>
                    <div class="bottom-left">
                        @for (int i = 0; i < 3 && i < usersGroup.Group.GroupTags.Count(); i++)
                        {
                            <span>#</span>@usersGroup.Group.GroupTags[i].Tag.TagName<span> </span>
                        }
                    </div>
                </a>
            </div>
            <div class="element-options my-2">
                @if (usersGroup.IsMod == true)
                {
                    <div>
                        <a class="icon-button" asp-controller="Groups" asp-action="Edit" asp-route-id="@usersGroup.GroupId" asp-route-gobackurl="UserProfile/@user.Id">
                            <i style='font-size:24px' class='fa fa-edit'></i>
                            Edit
                        </a>
                    </div>
                    <div>
                        <a class="icon-button" asp-controller="Groups" asp-action="Delete" asp-route-id="@usersGroup.GroupId" asp-route-gobackurl="UserProfile/@user.Id">
                            <i style='font-size:24px' class='fa fa-times'></i>
                            Delete
                        </a>
                    </div>
                }
                <div>
                    <a class="icon-button" asp-controller="Groups" asp-action="Leave" asp-route-id="@usersGroup.GroupId" asp-route-gobackurl="UserProfile/@user.Id/@ViewData["search"]">
                        <i style='font-size:24px' class='fa fa-sign-out'></i>
                        Leave
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <a asp-controller="UserProfile"
       asp-action="MyGroups"
       asp-route-pageNumber="@(paginatedList.PageIndex - 1)"
       asp-route-search="@ViewData["search"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>

    <a asp-controller="UserProfile"
       asp-action="MyGroups"
       asp-route-pageNumber="@(paginatedList.PageIndex + 1)"
       asp-route-search="@ViewData["search"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>

<!-- Clamp JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clamp-js/0.7.0/clamp.js" integrity="sha512-TnePtmz3HL4p8nFS2lR46u0iHrwObVnUednDASZK/qS9btkd09xKs1PeCt1kpS4a0gWNQx1AF+WnDHDK+xWcAw==" crossorigin="anonymous"></script>
<script type="text/javascript">
    var module = document.getElementsByClassName("clamp-me");

    for (let i = 0; i < module.length; i++) {
        $clamp(module[i], { clamp: 5 })
    }
</script>