@{
    ViewData["Title"] = "Group";
    bool joingroupfailed = (bool)ViewData["joingroupfailed"];

    PaginatedList<Group> paginatedList = (PaginatedList<Group>)ViewData["paginatedList"];
    var prevDisabled = !paginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !paginatedList.HasNextPage ? "disabled" : "";
}

<link href="~/css/GroupStyle.css" rel="stylesheet" />

<div class="border mb-2">
    <div class="display-flex-center">
        <h1>Explore</h1>
    </div>

    <div class="display-flex-end">
        <form id="search-form" asp-controller="Groups" asp-action="Index" method="get">
            <div class="form-group form-inline">
                <input class="form-control" type="text" placeholder="Search Group.." name="search" value="@ViewData["search"]">
                <button type="submit" class="btn ml-1"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>

    <div class="display-flex-end">
        <a asp-action="Create" asp-route-gobackurl="Groups">Create New Group</a>
    </div>
</div>


<div class="group-container">
    @foreach (var group in paginatedList)
    {
        <div class="group-item featured-background my-2 mx-4 px-0 py=0">
            <a asp-action="Details" asp-route-gobackurl="Groups" asp-route-id="@group.GroupId">
                <img class="group-photo" src="@group.GroupPhoto" alt="group photo" />
                <div class="top-left">@group.GroupName</div>
                <div class="middle">
                    <div class="clamp-me">
                        @group.Description
                    </div>
                </div>
                <div class="bottom-left">
                    @for (int i = 0; i < 3 && i < group.GroupTags.Count(); i++)
                    {
                        <span>#</span>@group.GroupTags[i].Tag.TagName<span> </span>
                    }
                </div>
            </a>
        </div>
    }
</div>

<div>
    <a asp-controller="Groups"
       asp-action="Index"
       asp-route-pageNumber="@(paginatedList.PageIndex - 1)"
       asp-route-search="@ViewData["search"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>

    <a asp-controller="Groups"
       asp-action="Index"
       asp-route-pageNumber="@(paginatedList.PageIndex + 1)"
       asp-route-search="@ViewData["search"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>

<!-- Clamp JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clamp-js/0.7.0/clamp.js" integrity="sha512-TnePtmz3HL4p8nFS2lR46u0iHrwObVnUednDASZK/qS9btkd09xKs1PeCt1kpS4a0gWNQx1AF+WnDHDK+xWcAw==" crossorigin="anonymous"></script>
<script type="text/javascript">
    var module = document.getElementsByClassName("clamp-me");

    for (let i = 0; i < module.length; i++) {
        $clamp(module[i], { clamp: 5 })
    }
</script>