@model IEnumerable<ADProject.Models.Group>

@{
    ViewData["Title"] = "Index";
    bool joingroupfailed = (bool)ViewData["joingroupfailed"];

    PaginatedList<Group> paginatedList = (PaginatedList<Group>)ViewData["paginatedList"];
    var prevDisabled = !paginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !paginatedList.HasNextPage ? "disabled" : "";
}

<h1>Index</h1>

<form id="search-form" asp-controller="Groups" asp-action="Index" method="get">
    <input type="text" placeholder="Search.." name="search" value="@ViewData["search"]">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (joingroupfailed)
{
    <h3 style="color: red;">Failed to Join Group</h3>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>
            <th>
                Picture
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in paginatedList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupPhoto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublished)
                </td>
                <td>
                    <img src=@item.GroupPhoto alt="group photo" style="width: 100px; height: 100px;" />
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.GroupId">Details</a> |

                    @*Conditional Rendering*@
                    @if (item.UsersGroups.Any(ug => ug.User.UserName == User.Identity.Name && ug.IsMod == true))
                    {
                        <a asp-action="Edit" asp-route-id="@item.GroupId">Edit</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.GroupId">Delete</a> <span>|</span>
                    }

                    @if (item.UsersGroups.Any(ug => ug.User.UserName == User.Identity.Name))
                    {
                        <a asp-action="Leave" asp-route-id="@item.GroupId">Leave</a>
                    }
                    else
                    {
                        <a asp-action="Join" asp-route-id="@item.GroupId">Join</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Groups"
   asp-action="Index"
   asp-route-pageNumber="@(paginatedList.PageIndex - 1)"
   asp-route-search="@ViewData["search"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-controller="Groups"
   asp-action="Index"
   asp-route-pageNumber="@(paginatedList.PageIndex + 1)"
   asp-route-search="@ViewData["search"]"
   class="btn btn-default @nextDisabled">
    Next
</a>