@{
    ViewData["Title"] = "Index";
    bool joingroupfailed = (bool)ViewData["joingroupfailed"];

    PaginatedList<Group> paginatedList = (PaginatedList<Group>)ViewData["paginatedList"];
    var prevDisabled = !paginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !paginatedList.HasNextPage ? "disabled" : "";
}

<link href="~/css/GroupStyle.css" rel="stylesheet" />

<div class="border">
    <div class="display-flex-center">
        <h1>Explore</h1>
    </div>

    <div class="display-flex-end">
        <form id="search-form" asp-controller="Groups" asp-action="Index" method="get">
            <input type="text" placeholder="Search.." name="search" value="@ViewData["search"]">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="display-flex-end">
        <a asp-action="Create">Create New</a>
    </div>
</div>


<div class="group-container">
    @foreach(var group in paginatedList)
    {
        <div class="group-item">
            <a asp-action="Details" asp-route-id="@group.GroupId">
                <img class="group-photo" src="@group.GroupPhoto" alt="group photo" />
                <div class="top-left">@group.GroupName</div>
                <div class="middle">@group.Description</div>
                <div class="bottom-left">
                    @for (int i = 0; i < 3 && i < group.GroupTags.Count(); i++)
                    {
                        <span>#</span>@group.GroupTags[i].Tag.TagName<span> </span>
                    }
                </div>
            </a>
        </div>
    }
</div>

<div>
    <a asp-controller="Groups"
       asp-action="Index"
       asp-route-pageNumber="@(paginatedList.PageIndex - 1)"
       asp-route-search="@ViewData["search"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>

    <a asp-controller="Groups"
       asp-action="Index"
       asp-route-pageNumber="@(paginatedList.PageIndex + 1)"
       asp-route-search="@ViewData["search"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
