@model ADProject.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dateposted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dateposted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommentsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
