@*@model IEnumerable<ADProject.Models.Recipe>
*@

@{
    ViewData["Title"] = "Index";

    PaginatedList<Recipe> paginatedList = (PaginatedList<Recipe>)ViewData["paginatedList"];
    var prevDisabled = !paginatedList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !paginatedList.HasNextPage ? "disabled" : "";
}

<link href="~/css/RecipeDetail.css" rel="stylesheet" type="text/css" />

<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="border">
            <div class="display-flex-center">
                <h1>Recipes</h1>
            </div>
            <div class="display-flex-end">
                <form id="search-form" asp-controller="Recipes" asp-action="Index" method="get">
                    <div class="form-group form-inline">
                        <input class="form-control" type="text" placeholder="Search Recipe.." name="search" value="@ViewData["search"]">
                        <button type="submit" class="btn ml-1"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="display-flex-end">
                <a asp-controller="Recipes" asp-action="Create" asp-route-gobackurl="Recipes">Create New Recipe</a>
            </div>
        </div>

        @foreach(var recipe in paginatedList)
        {
            <div class="row py-4 my-4 mx-2 justify-content-center featured-background">
                <div class="col-sm-10">
                    <div class="row mb-2">
                        <div class="col-sm-1">
                            <i style='font-size:50px' class='fa fa-user'></i>
                        </div>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-sm">
                                    <b>@recipe.User.UserName</b> posted a recipe
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <h3><b>@recipe.Title</b> </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    Tags:
                                    @foreach (var tag in recipe.RecipeTags)
                                    {
                                        if (tag.IsAllergenTag == false)
                                        {
                                            <span>#</span>@tag.Tag.TagName<span> </span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="recipe-image" src="@recipe.MainMediaUrl" alt="recipe main image" />
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm">
                                    <h5>Ingredients</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <p>for @recipe.ServingSize serving</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <ul>
                                        @for (int i = 0; i < 3 && i < recipe.RecipeIngredients.Count(); i++)
                                        {
                                            <li>@recipe.RecipeIngredients[i].Quantity @recipe.RecipeIngredients[i].UnitOfMeasurement of @recipe.RecipeIngredients[i].Ingredient</li>
                                        }
                                        <li><a asp-action="Details" asp-route-gobackurl="Recipes" asp-route-id="@recipe.RecipeId">See All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    @foreach (var allergen in recipe.RecipeTags)
                                    {
                                        if (allergen.IsAllergenTag == true)
                                        {
                                            <div class="row mb-2">
                                                <div class="col-sm-1">
                                                    <i style='font-size:24px' class='fa fa-exclamation-triangle'></i>
                                                </div>
                                                <div class="col-sm-11">
                                                    Warning: Contains @allergen.Tag.Warning
                                                </div>
                                            </div>
                                            break;
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm">
                                    Calories: @recipe.Calories kcal
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-1">
                                    <i style='font-size:24px' class='fa fa-clock-o mr-3'></i>
                                </div>
                                <div class="col-sm-11">
                                    @recipe.DurationInMins minutes
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm">
                                    @if (recipe.User.UserName != User.Identity.Name)
                                    {
                                        if (recipe.SavedRecipes.Any(sr => sr.User.UserName.Equals(User.Identity.Name) && sr.RecipeId == recipe.RecipeId))
                                        {
                                            <a asp-action="RemoveRecipe" asp-route-gobackurl="Recipes/Index/@ViewData["search"]" asp-route-id="@recipe.RecipeId">Remove Recipe</a>
                                        }
                                        else
                                        {
                                            <a asp-action="SaveRecipe" asp-route-gobackurl="Recipes/Index/@ViewData["search"]" asp-route-id="@recipe.RecipeId">Save Recipe</a>
                                        }
                                    }
                                    else
                                    {
                                        <a asp-action="Edit" asp-route-gobackurl="Recipes/Index" asp-route-id="@recipe.RecipeId">Edit</a>
                                        <br />
                                        <a asp-action="Delete" asp-route-gobackurl="Recipes/Index/@ViewData["search"]" asp-route-id="@recipe.RecipeId">Delete</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-sm">
                <a asp-controller="Recipes"
                   asp-action="Index"
                   asp-route-pageNumber="@(paginatedList.PageIndex - 1)"
                   asp-route-search="@ViewData["search"]"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>

                <a asp-controller="Recipes"
                   asp-action="Index"
                   asp-route-pageNumber="@(paginatedList.PageIndex + 1)"
                   asp-route-search="@ViewData["search"]"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>